.modal {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        position: relative;
        h2 {
            color: rgb(65, 69, 82);
            font-size: 21px;
            font-weight: 700;
            line-height: normal;
            margin: 17px 0;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
        .avatar-list {
            img {
                margin: 10px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                transition: transform 0.2s, border 0.2s;
                border: 2px solid transparent;
                &:hover {
                    transform: scale(1.1);
                    border: 2px solid #007BFF;
                }
            }
        }
        .confirmation {
            display: none;
            text-align: center;
            margin-top: 10px;
            color: green;
        }
        .upload-form {
            background: #ffffff;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
            text-align: center;
            #customFileLabel {
                display: inline-block;
                background-color: #007bff;
                color: white;
                padding: 10px 20px;
                font-size: 14px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: #0056b3;
                }
            }
            #fileInput {
                display: none;
            }
            #uploadButton {
                background-color: #28a745;
                color: white;
                padding: 10px 20px;
                font-size: 14px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-top: 15px;
                margin-left: 4px;
                &:hover {
                    background-color: #218838;
                }
            }
        }
    }
}
