.modal-overlay {
    animation: fadeIn 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .modal-content {
        animation: slideIn 0.3s ease-in-out;
        background-color: #292929;
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        margin: 5% auto;
        max-width: 400px;
        padding: 1rem;
        position: relative;
        width: 90%;
        .modal-close {
            color: #666;
            cursor: pointer;
            font-size: 21px;
            position: absolute;
            right: 1.5rem;
            top: 1.5rem;
            transition: color 0.3s;
        }
        h2 {
            color: #ffffff;
            font-size: 1.5rem;
            justify-self: center;
            margin-bottom: 2rem;
            a {
                color: rgb(98, 90, 250);
            }
        }
        form {
            .settings-form-group {
                display: flex;
                gap: 5px;
                margin-bottom: 21px;
                &.save {
                    display: block;
                }
                &.last {
                    gap: 10px;
                    margin-bottom: 0;
                }
                .settings-form-group-inner {
                    width: 50%;
                    label {
                        color: #dbfc54;
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 0.5rem;
                        padding-left: 5px;
                    }
                    .settings-input-wrapper {
                        align-items: center;
                        display: flex;
                        position: relative;
                        .settings-currency-symbol {
                            color: #dbfc54;
                            font-size: 14px;
                            font-weight: 400;
                            left: 0.8rem;
                            position: absolute;
                        }
                        input {
                            background-color: black;
                            border: 2px solid #666666;
                            border-radius: 15px;
                            color: white;
                            font-size: 14px;
                            font-weight: 400;
                            padding: 0.6rem;
                            transition: border-color 0.3s;
                            width: 100%;
                            &#totalEarnings {
                                padding-left: 1.5rem;
                            }
                            &:focus {
                                border-color: #dbfc54;
                                outline: none;
                            }
                        }
                    }
                    select {
                        background-color: black;
                        border: 2px solid #666666;
                        border-radius: 15px;
                        color: white;
                        font-size: 14px;
                        padding: 0.6rem;
                        transition: border-color 0.3s;
                        width: 100%;
                        &:focus {
                            border-color: #dbfc54;
                            outline: none;
                        }
                    }
                }
                .settings-save-btn {
                    background-color: #DBFC54;
                    border: none;
                    border-radius: 8px;
                    color: #000000;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    padding: 1rem;
                    text-transform: uppercase;
                    transition: background-color 0.3s;
                    width: 100%;
                    &:hover {
                        background: #fff;
                    }
                }
            }
        }
    }
}
