.balance-page {
    box-sizing: border-box;
    margin: 60px auto 0;
    max-width: 1600px;
    padding: 0 40px 0 272px;
    .content-wrapper {
        margin-bottom: 90px;
        padding-top: 8px;
        .content-inner-wrapper {
            margin: 8px auto 16px;
            .header-block {
                .header-block-inner {
                    align-items: baseline;
                    align-self: center;
                    display: flex;
                    flex-basis: auto;
                    flex-direction: row;
                    flex-grow: 0;
                    flex-shrink: 1;
                    font-size: 28px;
                    gap: 8px;
                    .main-header {
                        color: rgb(48, 49, 61);
                        font-size: 28px;
                        font-weight: 600;
                        letter-spacing: -1px;
                        line-height: 36px;
                        margin: 0;
                        overflow-wrap: break-word;
                    }
                    .balance-amount {
                        color: rgb(53, 58, 68);
                        font-weight: 400;
                        letter-spacing: 0;
                    }
                    .balance-icon {
                        margin-top: -4px;
                    }
                }
                .header-buttons {
                    margin: 16px 0;
                    .header-buttons-inner {
                        align-items: center;
                        display: flex;
                        font-size: 14px;
                        gap: 8px;
                        .header-button {
                            align-items: center;
                            border: 1px solid rgb(216, 222, 228);
                            border-radius: 6px;
                            box-shadow: rgba(16, 17, 26, 0.16) 0 1px 1px 0;
                            color: rgb(53, 58, 68);
                            cursor: pointer;
                            display: inline-flex;
                            gap: 6px;
                            font-size: 14px;
                            justify-content: center;
                            line-height: 20px;
                            padding: 4px 8px;
                            &:hover {
                                border-color: rgb(153, 165, 184);
                            }
                            &:focus, &:active {
                                box-shadow: 0 0 0 3px rgba(1, 150, 237, .36);
                            }
                            .button-text {
                                color: rgb(53, 58, 68);
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}
