.home-page {
    box-sizing: border-box;
    margin: 60px auto 0;
    max-width: 1600px;
    padding: 0 40px 0 280px;
    .content-wrapper {
        margin-bottom: 90px;
        padding-top: 8px;
        position: relative;
        z-index: 1;
        .content-inner-wrapper {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-bottom: 24px;
            .home-top {
                box-sizing: border-box;
                .top-header {
                    color: rgb(48, 49, 61);
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 36px;
                    margin: 8px 0;
                }
                .separator {
                    border-bottom: 1px solid rgb(216, 222, 228);
                    margin-bottom: 32px;
                }
                .home-main-block {
                    box-sizing: border-box;
                    display: flex;
                    flex: 3 1 0;
                    flex-direction: row;
                    .main-left {
                        box-sizing: border-box;
                        display: block;
                        flex: 2 1 0;
                        min-height: 230px;
                        padding: 0 20px 0 0;
                        .main-left-inner {
                            height: 100%;
                            max-height: 219px;
                            .main-texts {
                                box-sizing: border-box;
                                display: flex;
                                flex-direction: row;
                                .main-text-left, .main-text-right {
                                    padding-right: 20px;
                                    .left-top {
                                        display: flex;
                                        flex-direction: row;
                                        .left-item-first {
                                            .left-item-button {
                                                color: inherit;
                                                font-weight: inherit;
                                                font-size: inherit;
                                                font-family: inherit;
                                                font-style: inherit;
                                                text-align: inherit;
                                                cursor: pointer;
                                                background-color: #0000;
                                                border: 0;
                                                outline: none;
                                                margin: 0;
                                                padding: 0;
                                                text-decoration: none;
                                                .button-inner {
                                                    align-items: normal;
                                                    display: flex;
                                                    flex-direction: row;
                                                    .button-text {
                                                        color: rgb(84, 89, 105);
                                                        font-size: 14px;
                                                        font-weight: 400;
                                                        line-height: 20px;
                                                    }
                                                    .button-icon {
                                                        margin-left: 8px;
                                                    }
                                                }
                                            }
                                            .left-item-amount {
                                                color: rgb(26, 27, 37);
                                                font-size: 20px;
                                                font-weight: 400;
                                                height: 28px;
                                                line-height: 28px;
                                                margin-top: 4px;
                                                min-width: 160px;
                                            }
                                            .left-item-time {
                                                color: rgb(84, 89, 105);
                                                font-size: 12px;
                                                font-weight: 400;
                                                height: 18px;
                                                line-height: 16px;
                                            }
                                        }
                                        .left-item-second {
                                            margin-left: 8px;
                                            min-width: 60px;
                                        }
                                    }
                                }
                                .main-text-right {
                                    padding-right: 0;
                                    .left-top {
                                        .left-item-first {
                                            .left-item-amount {
                                                color: rgb(104, 115, 133);
                                                font-size: 16px;
                                                font-weight: 400;
                                                line-height: 24px;
                                                min-width: auto;
                                            }
                                        }
                                    }
                                }
                            }
                            .main-graph {
                                height: 114px;
                                margin: 10px 0 22px;
                                .main-graph-inner {
                                    height: 150px;
                                    margin-top: 10px;
                                    position: relative;
                                    .graph-bottom-text {
                                        bottom: -21px;
                                        position: absolute;
                                        width: 100%;
                                        .graph-bottom-text-inner {
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: nowrap;
                                            justify-content: space-between;
                                            padding-top: 4px;
                                            position: relative;
                                            .graph-bottom-left {
                                                color: rgb(104, 115, 133);
                                                font-size: 12px;
                                                font-weight: 400;
                                                line-height: 16px;
                                                padding-right: 20px;
                                            }
                                            .graph-bottom-right {
                                                color: rgb(104, 115, 133);
                                                font-size: 12px;
                                                font-weight: 400;
                                                line-height: 16px;
                                                padding-left: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .main-right {
                        box-sizing: border-box;
                        display: flex;
                        flex: 1 1 0;
                        flex-direction: column;
                        height: 100px;
                        .main-right-single {
                            box-shadow: inset 0 -1px rgb(235, 238, 241);
                            flex: 1 1 0;
                            padding: 0 0 35px 20px;
                            .main-right-single-inner {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                height: 100%;
                                .main-right-top {
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    .main-right-top-text {
                                        color: rgb(65, 69, 82);
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 20px;
                                    }
                                    .main-right-top-link {
                                        color: rgb(98, 90, 250);
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 20px;
                                        text-decoration: none;
                                        &:hover {
                                            color: rgb(26, 27, 37);
                                        }
                                    }
                                }
                                .main-right-middle {
                                    color: rgb(26, 27, 37);
                                    font-size: 20px;
                                    font-weight: 400;
                                    line-height: 28px;
                                    margin: 8px 0 4px;
                                }
                                .main-right-bottom {
                                    color: rgb(104, 115, 133);
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 16px;
                                }
                            }
                            &.bottom {
                                box-shadow: none;
                                padding: 20px 0 0 20px;
                            }
                        }
                    }
                }
            }
            .home-bottom {
                margin-top: 25px;
                .home-bottom-title-wrapper {
                    .home-bottom-title {
                        color: rgb(48, 49, 61);
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 36px;
                        margin: 8px 0;
                    }
                }
                .home-bottom-filters-wrapper {
                    align-items: center;
                    border-bottom: 1px solid rgb(216, 222, 228);
                    display: flex;
                    justify-content: space-between;
                    margin-top: -8px;
                    padding: 16px 0;
                    .home-bottom-filters {
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 6px;
                        justify-content: flex-start;
                        .date-filter {
                            align-items: center;
                            background: rgb(255, 255, 255);
                            border: 1px solid rgb(216, 222, 228);
                            border-radius: 10px;
                            color: rgb(83, 58, 253);
                            cursor: pointer;
                            display: inline-flex;
                            flex-direction: row-reverse;
                            gap: 6px;
                            padding: 3px 8px 3px 6px;
                            &:hover {
                                background: rgb(245, 246, 248);
                            }
                            .date-filter-inner {
                                align-items: center;
                                display: flex;
                                flex-basis: auto;
                                flex-direction: row;
                                gap: 6px;
                                justify-content: normal;
                                dl {
                                    display: flex;
                                    flex-direction: row;
                                    gap: 6px;
                                    margin: 0;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    dt {
                                        color: rgb(89, 97, 113);
                                        display: block;
                                        font-size: 12px;
                                        font-weight: 600;
                                        line-height: 16px;
                                    }
                                    .separator {
                                        background: rgb(216, 222, 228);
                                        flex: 0 0 1px;
                                        height: 12px;
                                        margin-top: 2px;
                                        padding: 1px 0 0 0;
                                    }
                                    dd {
                                        color: rgb(83, 58, 253);
                                        font-size: 12px;
                                        font-weight: 600;
                                        line-height: 16px;
                                        margin: 0;
                                    }
                                }
                                .arrow-link {
                                    display: flex;
                                    svg {
                                        fill: rgb(108, 118, 136);
                                    }
                                }
                            }
                            &.compare {
                                border-style: dashed;
                            }
                        }
                    }
                    .home-bottom-buttons {
                        align-items: baseline;
                        display: flex;
                        flex-direction: row;
                        gap: 8px;
                        justify-content: normal;
                        .home-button {
                            align-items: center;
                            background: rgb(255, 255, 255);
                            border: 1px solid rgb(216, 222, 228);
                            border-radius: 6px;
                            color: rgb(53, 58, 68);
                            cursor: pointer;
                            display: flex;
                            gap: 8px;
                            justify-content: center;
                            padding: 4px 8px;
                            svg {
                                fill: rgb(71, 78, 90);
                            }
                            span {
                                color: rgb(53, 58, 68);
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 20px;
                            }
                            &:hover {
                                border-color: rgb(153, 165, 184);
                            }
                        }
                    }
                }
            }
        }
    }
}
