.sticky-footer {
    align-items: center;
    background-color: #f5f6f8;
    border-top: 1px solid #d8dee4;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    letter-spacing: 0.3px;
    margin-top: 0;
    min-height: 48px;
    padding-left: 16px;
    padding-right: 12px;
    position: fixed;
    right: 0;
    z-index: 1000;
    #developers-link {
        box-sizing: border-box;
        text-decoration: none;
        color: #353a44;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 8px;
        svg {
            fill: rgb(108, 118, 136);
            margin-right: 4px;
            margin-top: 1px;
        }
        #text_developers {
            color: rgb(53, 58, 68);
            line-height: normal;
        }
    }
    .footer-tools {
        span {
            box-sizing: border-box;
            cursor: pointer;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            padding: 8px;
            &:hover {
                background: #EBEEF1;
            }
            svg {
                fill: #474e5a;
            }
        }
    }
}
