.main-container {
    .main-content {
        position: relative;
        z-index: 1;
    }
    .main-navigation {
        left: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100vw;
    }
}
